body {
  overflow-x: hidden;
  font-size: medium;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
}

#header {
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: center;
  justify-items: center;
  background-color: green;
  font-size: 16px;
  border-bottom: 5px inset greenyellow;
  height: 100px;
  width: 100%;
  margin-bottom: 25px;
}

#posts {
  position: relative;
  top: 110px;
  width: calc(100% - 20px);
  height: fit-content;
  background-color: purple;
  padding: 10px;
}

.post {
  display: flex;
  align-items: center;
  height: 150px;
  background-color: rgb(168, 30, 30);
  margin-bottom: 20px;
  border-radius: 20px;
}

.image {
  width: 120px;
  height: 120px;
  background-color: orange;
  border: 5px inset black;
  border-radius: 15px;
  position: relative;
  left: 10px;
  background-image: url("/default.jpg");
  background-size: contain;
}

.postTitleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110px;
  width: calc(100% - 200px);
  background-color: rgb(147, 59, 59);
  position: relative;
  left: 30px;
}

.postTitleText {
  font-size: 60px;
}

.postTitleText:hover {
  text-decoration: underline;
}
